@media (prefers-color-scheme: dark) {
    html {
        background-color: #212529;
        color: #fff;
    }
}

@media (prefers-color-schem: light) {
    html {
        background-color: #fff;
        color: black;
    }
}

#winmed_cross {
    position: relative;
    left: 32%;
}

.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formGroupInput {
    text-align: center;
}

#keyWordBox {
    height: 250px;
}

#keyWordDescription {
    height: 250px;
}

#selectedKeywordsContainer {
    max-width: calc(120px * 4);
}